@model UncleLukesDankMemeStash.Areas.Identity.MemeAuthor
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<a asp-action="SetPassword" asp-route-Id="@Model.Id"> SET PASSWORD FOR @Model.UserName</a>