@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<head>
    <title>AdminPanel</title>
    <link rel="stylesheet" href="css/site.css" />
</head>

<h1 class="text-white">ADMIN CONTROLLER</h1>

<ul class="list-group text-center">
    <a class="text-decoration-none" asp-action="NonConfirmedUsers">
        <li class="list-group-item btn-dark link">
            Niepotwierdzeni użytkownicy
        </li>
    </a>
    <a class="text-decoration-none" asp-action="FindUserByName">
        <li class="list-group-item btn-dark link">
            Znajdź po loginie
        </li>
    </a>
</ul>
