@model IEnumerable<UncleLukesDankMemeStash.Areas.Identity.MemeAuthor>
@{
    ViewData["Title"] = "NonConfirmedUsers";
}

<head>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/BrowseEnter.js"></script>
    <link rel="stylesheet" src="~/css/site.css" />
</head>


<div class="row">
    @foreach (var user in Model)
    {
        <div class="rounded d-flex flex-column col-5 col-sm-3 col-lg-2 fade-in gallery-item justify-content-center">
            <div>@user.FirstName @user.LastName</div>
            <a asp-action="Confirm" asp-route-userID="@user.Id">
                <div class="btn-dark d-flex flex-column fade-in">
                    confirm
                </div>
            </a>
        </div>
    }
</div>



