@model UncleLukesDankMemeStash.Areas.Identity.MemeAuthor

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<head>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/BrowseEnter.js"></script>
    <link rel="stylesheet" src="~/css/site.css" />
</head>
<body>
    <form action="." method="post">
        <input asp-for="Id" type="hidden" />
        <input type="password" id="password1" name="password1" />
        <input type="password" id="password2" name="password2" />
        <input type="submit" />
    </form>

    @if (ViewBag.Success != null)
    {
        @if (ViewBag.Success == true)
        {
            <div class="text-success">
                Changed password
            </div>
        }
        else
        {
            <div class="text-danger">
                Cannot change password
            </div>
        }
    }
</body>