@model UncleLukesDankMemeStash.Areas.Identity.MemeAuthor

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<head>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/BrowseEnter.js"></script>
    <script src="~/js/PasswordEqualityVerifier.js"></script>
    <link rel="stylesheet" src="~/css/site.css" />
</head>
<body>
    <form action="." method="post">
        @Html.AntiForgeryToken()
        <input asp-for="Id" type="hidden" />
        <input type="password" id="Password" name="Password" oninput="checkEq()"/>
        <input type="password" id="PasswordConf" name="PasswordConf" oninput="checkEq()"/>
        <input type="submit" name="submit" id="submit"/>
    </form>

    <div class="text-danger" id="error" name="error">

    </div>

    @if (ViewBag.Success != null)
    {
        @if (ViewBag.Success == true)
        {
            <div class="text-success">
                Changed password
            </div>
        }
        else
        {
            <div class="text-danger">
                Cannot change password
            </div>
        }
    }
</body>