/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

.dark-navbar { background-color: #2d2d2d; }

a.navbar-brand {
    text-align: center;
    white-space: normal;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */

a {
    color: #0366d6;
    text-decoration: none;
}

.btn-primary {
    background-color: #1b6ec2;
    border-color: #1861ac;
    color: #fff;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background-color: #1b6ec2;
    border-color: #1861ac;
    color: #fff;
}

/* Sticky footer styles
-------------------------------------------------- */

html { font-size: 14px; }

@media (min-width: 768px) {
    html { font-size: 16px; }
}

.border-top { border-top: 1px solid #e5e5e5; }

.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */

html {
    min-height: 100%;
    position: relative;
}

body {
    background-color: #202020;
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    bottom: 0;
    line-height: 60px; /* Vertically center the text there */
    position: absolute;
    white-space: nowrap;
    width: 100%;
}

.gallery-item {
    -moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.3);
    background-color: #282828;
    border-left: thin darkgray solid;
    border-radius: 15px;
    border-right: thin darkgray solid;
    border-top: thin darkgray solid;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.3);
    margin: 8px;
    padding-top: 5px;
}

.link {
    background-color: transparent;
    color: white;
    display: inline-block;
}

.link-padding {
    background-color: transparent;
    color: white;
    display: inline-block;
    padding: .5rem 1rem;
}

.link-padding:hover {
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    background-color: #fff;
    color: black;
    display: inline-block;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
}

.link:hover {
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    background-color: #fff;
    color: black;
    display: inline-block;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
}

.fade-in { display: none; }

h1 {
    background-color: transparent;
    color: white;
}