@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<head>
    <link rel="stylesheet" src="~/css/site.css"/>
    <link rel="stylesheet" src="~/lib/bootstrap/dist/css/bootstrap.css"/>
    <meta charset="utf-8"/>
    <title></title>
</head>
<body>
<a class="text-decoration-none link rounded" asp-action="Create">
    <div class="col-5 col-sm-3 col-lg-2 fade-in">
        <div class="align-self-center align-content-center" style="font-size: 10vw;">+</div>
    </div>
</a>
</body>