@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model IEnumerable<TileViewModel>

@{
    ViewData["Title"] = Localizer["Categories"];
}

<head>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/BrowseEnter.js"></script>
    <link rel="stylesheet" src="~/css/site.css" />
</head>


<h1 class="text-white">@Localizer["Categories"]</h1>

<div class="row">

    @foreach (var tileViewModel in Model)
    {
        @await Html.PartialAsync("_EditDeleteTile", tileViewModel)
        ;
    }

    @if (ViewBag.CanAdd)
    {
        @await Html.PartialAsync("_AddButton")
        ;
    }

</div>