@model IEnumerable<TileViewModel>

@{
    ViewData["Title"] = "Kategorie";
}

<head>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/BrowseEnter.js"></script>
    <link rel="stylesheet" src="~/css/site.css" />
</head>


<h1 class="text-white">Kategorie</h1>

<div class="row">

    @foreach (var tileViewModel in Model)
    {
        @await Html.PartialAsync("_EditDeleteTile", tileViewModel);
    }

    @if (ViewBag.CanAdd)
    {
        @await Html.PartialAsync("_AddButton");
    }

</div>

